<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.ordf/wiki/xacro" name="ester">
    <xacro:include filename="$(find ester_description)/urdf/constants.xacro"/>
    <xacro:include filename="$(find ester_description)/urdf/leg/leg.urdf.xacro"/>

    <!-- Dummy shoulder joint -->
    <link name="front_right_hip_aa_link"/>
    <xacro:front_right_hip_fe/>
    <xacro:front_right_upper_leg/>
    <xacro:lower_leg front="front" side="right"/>
    <xacro:foot_contact front="front" side="right"/>
</robot>
