<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find ester_description)/urdf/constants.xacro"/>

<xacro:macro name="lower_leg_transmission" params="front side">
    <transmission name="${front}_${side}_lower_leg_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${front}_${side}_lower_leg_joint">
            <hardwareInterface>${JOINT_INTERFACE}</hardwareInterface>
        </joint>
        <actuator name="${front}_${side}_lower_leg_motor">
            <hardwareInterface>${JOINT_INTERFACE}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
</xacro:macro>

</robot>

