<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find ester_description)/urdf/constants.xacro"/>

<xacro:macro name="upper_leg_transmission" params="front_side">
    <transmission name="${front_side}_upper_leg_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${front_side}_upper_leg_joint">
            <hardwareInterface>${JOINT_INTERFACE}</hardwareInterface>
        </joint>
        <actuator name="${front_side}_upper_leg_motor">
            <hardwareInterface>${JOINT_INTERFACE}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
</xacro:macro>

</robot>

