<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="imu" params="parent_link *joint_origin">
    <link name="imu_link">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertial>
            <mass value="1e-9"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-9" ixy="0" ixz="0"
                     iyy="1e-9" iyz="0" izz="1e-9"/>
        </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
        <xacro:insert_block name="joint_origin"/>
        <parent link="${parent_link}"/>
        <child link="imu_link"/>
    </joint>

    <gazebo>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
            <alwaysOn>true</alwaysOn>
            <bodyName>imu_link</bodyName>
            <frameName>imu_link</frameName>
            <topicName>/ester/imu/raw</topicName>
            <serviceName>/ester/imu_service</serviceName>
            <gaussianNoise>0.01</gaussianNoise>
            <updateRate>20.0</updateRate>
        </plugin>
    </gazebo>
</xacro:macro>

</robot>
